@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<style>
    a1 {font-size: large}
</style>

<div class="text-center">
    <h3 class="display-4">Office Anywhere Pty Ltd</h3>

    
    @if (SignInManager.IsSignedIn(User))
    {
        <p class="x_MsoNormal">Your employer is doing their upmost to ensure high standards of&nbsp;health and safety are applied within your home office working environment.</p>
        <p class="x_MsoNormal">This checklist outlines the principles you should consider for computer-based work, when setting up the space you have at home. If you already have a home office, please review to ensure the correct set up is in place.</p>
        <p class="x_MsoNormal">Please select &lsquo;Complete Checklist&rsquo; to complete a Workplace Health and Safety (WHS) Checklist. Should you exit the &lsquo;Checklist&rsquo; before completion details won&rsquo;t be saved.</p>
        <p class="x_MsoNormal">If you have any questions please contact&nbsp;<a href="mailto:support@officeanywhere.com.au" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable">support@officeanywhere.com.au</a></p>

        <p> <a href="Checklist/Index" class="btn-dark btn-lg">Complete Checklist</a>.</p>
    }
    else
    {
        <p>&nbsp;</p>
        <p>COVID-19 has created a significant increase in the number of employees working from home.</p>
        <p>We anticipate employees working from home will become the new &lsquo;normal&rsquo; irrelevant of COVID-19 and other factors within the market.</p>
        <p>As a consequence, employers have a duty of care for the health and safety of their employees within their home office working environment.</p>
        <p>&nbsp;Failing to create a healthy and safe home office working environment has a detrimental effect on the employee&rsquo;s wellbeing, productivity and employer respect.</p>
        <p>Repercussions for an employer could include external investigation of health and safety processes, denying of employee workplace insurance claims, an increase in insurance premiums and legal action from an employee.</p>
        <p>As employee working from home continues to evolve so does the discussion on best practice and ramifications.</p>
        <p><strong>Office Anywhere Pty Ltd</strong> manage the <strong>home office working environment</strong> <strong>set up</strong> and provide a structured follow up process ensuring these <strong>health and safety measures are maintained.</strong></p>
        <p>&nbsp;The guidelines are aligned to <strong>NSW Government, SafeWork NSW</strong>&nbsp;to ensure best practice.&nbsp;</p>
        
        <div class="btn-group-lg" role="group">
            <a class="btn btn-primary" href="/checklist/employeePage" role="button">employee Info</a>
            <a class="btn btn-secondary" href="/checklist/employerPage" role="button">employer Info</a>
            <a class="btn btn-success" href="/checklist/mentalhealth" role="button">mental health Info</a>
            <a class="btn btn-dark" href="/checklist/ourservice" role="button">Our Service</a>
            <a class="btn btn-info" href="/checklist/contact" role="button">Contact Info</a>
        </div>
        
        



    }
    <div style="text-align: center;"> <img src="./image/logo-small.png" width="500" height="100"> </div>
 
</div>

