@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<style>
    a1 {font-size: large}
</style>

<div class="text-center">
    <h1 class="display-4">Working from Home Protocol</h1>
    <h1 class="display-4">OHS Checklist</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p> <a href="ChecklistEntry/Index" class="btn-dark btn-lg">Complete Checklist</a>.</p>
        }
        else
        {
        <p>Please login to complete checklist</p>
        }

    </div>
