@page
@model WebApplication2.Pages.SuccessOnSubmitModel
@{
    ViewData["Title"] = "SuccessOnSubmit";
}

<h1>Successful Submission</h1>
<p class="x_MsoNormal">Thank you for completing the Workplace Health and Safety (WHS) Checklist.</p>
<p class="x_MsoNormal">You will be contacted again in 4 weeks to review your home office working environment.</p>
<p class="x_MsoNormal">Stay and work safe!</p>
<p class="x_MsoNormal">Kind regards,</p>
<p class="x_MsoNormal">Customer Support</p>
<p class="x_MsoNormal"><u><a href="mailto:support@wfhprotocol.com.au" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable">support@wfhprotocol.com.au</a></u></p>
