@page
@model WebApplication2.Pages.CheckList.contactModel
@{
    ViewData["Title"] = "contact";
}

<h1>contact</h1>
<p>Telephone (+61) 2 9818 8844</p>
<p>Email <a href="mailto:info@officeanywhere.com.au">info@officeanywhere.com.au</a></p>
