@page
@model WebApplication2.Pages.CheckList.employerPageModel
@{
    ViewData["Title"] = "employerPage";
}

<h1 style="text-align: center">The employer</h1>

<p class="x_MsoNormal"><strong>What an employer should do</strong></p>
<p class="x_MsoNormal">Under&nbsp;NSW&nbsp;public orders an employer must allow an employee to work at the person's place of residence where it is reasonably practicable to do so.</p>
<p class="x_MsoNormal">If you have employees working from home, you as an employer should:</p>
<ul type="disc">
    <li class="x_MsoNormal">provide guidance on what is a safe home office environment, including what a good work station set up looks like</li>
    <li class="x_MsoNormal">require you to familiarise yourself and comply with good ergonomic practices</li>
    <li class="x_MsoNormal">maintain daily communication with you and your co-workers</li>
    <li class="x_MsoNormal">provide continued access to an employee assistance program (EAP), and</li>
    <li class="x_MsoNormal">appoint a contact person in the business that you and your co-workers can talk to about any concerns.</li>
</ul>
<p class="x_MsoNormal">An employer must consult with the employees, other workers at the workplace, and elected Health and Safety Representatives (HSR) on working from home arrangements.</p>