@page
@model WebApplication2.Pages.CheckList.employeePageModel
@{
    ViewData["Title"] = "Employee Page";
}

<h1 style="text-align: center">The Employee</h1>

<p class="x_MsoNormal"><strong>What an employee should do</strong></p>
<p class="x_MsoNormal">An employee has a duty&nbsp;to take care of their own health and safety and follow health and safety policies, procedures and instructions put in place by their employer. This may include:</p>
<ul type="disc">
    <li class="x_MsoNormal">following procedures about how the work is performed</li>
    <li class="x_MsoNormal">following instructions on how to use the equipment provided by the workplace</li>
    <li class="x_MsoNormal">maintaining a safe work environment (for example, moving furniture to allow adequate workspace and providing adequate lighting, repairing broken steps)</li>
    <li class="x_MsoNormal">keeping equipment safe, well maintained and in good order</li>
    <li class="x_MsoNormal">looking after their own in-home safety (for example, maintaining electrical equipment, keeping a first aid kit and installing and maintaining smoke alarms).</li>
</ul>
<p class="x_MsoNormal">An employee must also advise their employer of any risks that they are aware of that arise from a home working environment. These risks could be physical risks, like poor lighting, or psychosocial risks, like reduced support from managers and colleagues.</p>