@page
@model WebApplication2.Pages.CheckList.mentalHealthModel
@{
    ViewData["Title"] = "mentalHealth";
}

<h1>mentalHealth</h1>

<p class="x_MsoNormal">To follow is a guide to looking after an employee&rsquo;s mental health whilst working at home.</p>
<ul type="disc">
    <li class="x_MsoNormal">keep a routine, have regular start and finish times and take regular breaks</li>
    <li class="x_MsoNormal">set boundaries between your work and home life and:</li>
</ul>
<ul type="disc">
    <li class="x_MsoListParagraphCxSpFirst">set aside a work area in part of your house-</li>
    <li class="x_MsoListParagraphCxSpMiddle">wear &lsquo;work clothes&rsquo; when you are working</li>
    <li class="x_MsoListParagraphCxSpMiddle">discuss boundaries with the people you live with</li>
    <li class="x_MsoListParagraphCxSpLast">identify and minimise distractions in your home</li>
</ul>
<ul type="disc">
    <li class="x_MsoNormal">maintain daily communication with your manager and colleagues and consider scheduling regular team meetings via phone, email or video</li>
    <li class="x_MsoNormal">stay informed with information from official sources and sharing relevant information with other employees</li>
    <li class="x_MsoNormal">access flexible work arrangements, where available</li>
    <li class="x_MsoNormal">disengage from work and log off at the end of the day</li>
    <li class="x_MsoNormal">take care of your mental and physical health outside of work and:</li>
</ul>
<ul type="disc">
<li class="x_MsoListParagraphCxSpFirst">get enough sleep</li>
<li class="x_MsoListParagraphCxSpMiddle">eat well</li>
<li class="x_MsoListParagraphCxSpMiddle">exercise regularly</li>
<li class="x_MsoListParagraphCxSpMiddle">stay connected to family and friends</li>
<li class="x_MsoListParagraphCxSpMiddle">spend time outside</li>
<li class="x_MsoListParagraphCxSpLast">reduce your alcohol intake.</li>
</ul>