@page
@model WebApplication2.Pages.CheckList.ourserviceModel
@{
    ViewData["Title"] = "ourservice";
}

<h1 style="text-align:center">Our Service</h1>

<p><strong>Office Anywhere Pty Ltd</strong> manage the <strong>home office working environment</strong> <strong>set up</strong> and provide a structured follow up process ensuring these <strong>health and safety measures are maintained.</strong></p>
<p>We utilise the expertise of Qualified Ergonomists, Occupational Physiotherapists, Exercise Physiotherapists and Occupational Therapists to manage the set-up of the home office during a one on one session.</p>
<p>A completed &lsquo;Checklist&rsquo; and summary statement is provided to the client with recommendations of health and safety issues which require addressing.</p>
<p>The home office working environment will be reviewed every 3 months, including any updated health and safety initiatives.</p>
<p>&lsquo;Best practice&rsquo; and &lsquo;Duty of care&rsquo; is at the forefront of our service. Our workplace is changing and our employees need to be set up for an <strong>&lsquo;Office Anywhere&rsquo;.</strong></p>